html {
  color: grey;
  background-color: black;
  box-sizing: border-box;
}

.title {
  width: 100%;
  text-align: center;
}

.buttons {
  width: 100%;
  margin: auto;
  text-align: center;
}

.adjustContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.intervalsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.intervalsContainer h2 {
  margin: 0 1rem 0 1rem;
}

.adjustTime {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centreHeading {
  width: 100%;
  text-align: center;
}

.roundButton {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-style: solid;
  color: grey;
  border-color: grey;
  background-color: black;
  border-width: 0.125rem;
  padding: 0;
  box-shadow: 0 0 5px 0.5px grey;
}

.ovalButton {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.8rem;
  font-size: 1.5rem;
  min-width: 7rem;
  border-radius: 50px;
  border-style: solid;
  color: grey;
  border-color: grey;
  background-color: black;
  border-width: 0.125rem;
  box-shadow: 0 0 10px 0.5px grey;
  transition: all .2s ease-in-out
}

.ovalButton:active {
  background-image: radial-gradient(aquamarine, black);
  transition: 0.1s;
}

.ovalButton:hover {
  box-shadow: 0 0 10px 0.5px aquamarine;
  transition: 0.1s;
}